<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/map.css' %}">
  <script defer src="https://maps.googleapis.com/maps/api/js?key={{ key }}" type="text/javascript"></script>
  <script defer src="{% static 'js/map.js' %}"></script>
</head>
<body onload="initMap()" class="bg-color">

  <nav class="top-nav">

    <section class="inner-nav">

      <article class="logo">
        
        <img src="../static/images/trvl-logo.svg" alt="Trvl Logo">

        <h1 class="brand">Trvl Trak</h1>

      </article>

      <article class="logout-link">

        <a class="login" href="/logout">logout</a>

      </article>

    </section>

    
  </nav>

  {% if messages %}
  <div class="messages messages-success">
    {% for message in messages %}
      {% if message.tags == 'success' %}
        <p class="success">{{ message }}</p>
      {% endif %}
    {% endfor %}
  </div>
  {% endif %}

  <main id="map-container">

    
    <form class="search-form" action="/getLatLng" method="POST">
    
      {% csrf_token %}
    
      <label for="location-input">Address</label>
      
      <div class="search-input">

        <input type="text" name="location-input" placeholder="Chicago, IL" id="location-input">
        
        <button type="submit">Find</button>
      
      </div>
      
      
    </form>
    
    <div id="map"></div>
    
  </main>

  <div class="trip-content">

    <input id="trips" type="hidden" name="trips" value="{{ json_trips }}">

    <h1>Saved Trips</h1>

    <section class="trip-inner">

      {% for t in trips %}

      <article class="trip-card">
        <h3 class="title">{{ t.title }}</h3>
        <h4>Where</h4>
        <p class="address">{{ t.address }}</p>
        <h4>When</h4>
        <p class="date">{{ t.trip_start }}-{{ t.trip_end }}</p>
        <h4>Description</h4>
        <p class="description">{{ t.description }}</p>
        <a href="trip/delete/{{ t.id }}" class="delete-btn" data-ajax="false">Remove Trip</a>

      </article>
      
      {% endfor %}
      
    </section>


  </div>
  
</body>
</html>