<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Favorite</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/map.css' %}">
  <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ key }}&callback=initMap" type="text/javascript"></script>
  <script defer src="{% static 'js/map.js' %}"></script>
</head>
<body>

  <nav class="top-nav">

    <section class="inner-nav">

      <article class="logo">
        
        <img src="../static/images/trvl-logo.svg" alt="Trvl Logo">

        <h1 class="brand">Trvl Trak</h1>

      </article>

      <article class="logout-link">

        <a href="/dashboard" class="nav-link">Dashboard</a>
        <a class="login" href="/logout">logout</a>

      </article>

    </section>
    
  </nav>


  <main class="new-favorite-content">

    <form action="/newFav" class="new-favorite" method="POST">

      <h3>New Trip</h3>

      {% csrf_token %}
      <!-- address -->
      <address>{{ address }}</address>
      <input type="hidden" name="address" value="{{ address }}">
      <!-- hidden lat and lng -->
      <input type="hidden" name="lng" value="{{ lng }}">
      <input type="hidden" name="lat" value="{{ lat }}">
      <!-- title -->
      <label for="new-title">Trip Title</label>
      <input type="text" name="title" id="new-title">
      <!-- date from -->
      <label for="trip-start">Trip Start</label>
      <input type="date" name="trip-start" id="trip-start">
      <!-- date to -->
      <label for="trip-end">Trip End</label>
      <input type="date" name="trip-end" id="trip-end">
      <!-- description -->
      <label for="new-description">Description</label>
      <textarea name="description" id="new-description"></textarea>

      <button type="submit" class="fav-btn">Add</button>

    </form>


  </main>
  
</body>
</html>