<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Search</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/map.css' %}">
  <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key={{ key }}&callback=initMap&libraries=&v=weekly" defer ></script>
  <script src="{% static 'js/geocode.js' %}"></script>
  <!-- <script src="{% static 'js/fav.js' %}"></script> -->
</head>
<body>

  <nav class="top-nav">

    <section class="inner-nav">

      <article class="logo">
        
        <img src="../static/images/trvl-logo.svg" alt="Trvl Logo">

        <h1 class="brand">Trvl Trak</h1>

      </article>

      <article class="logout-link">

        <a href="/dashboard" class="nav-link">Dashboard</a>

        <a class="login" href="/logout">logout</a>

      </article>

    </section>

    
  </nav>

  <main>

    <div class='search-form'>
    
      <label for="address">Address</label>

      <div class="search-input">

        <input id="address" type="textbox" value="{{request.session.location}}" />
        
        <button id="submit">Find</button>
        
      </div>
      
    </div>

    <div id="search-map"></div>

  </main>

  <main id="results">

    <h1>Results</h1>

    <div id="results-content">


    </div>


  </main>


  <main class="fav-form-outer">
  <!--

    <form class='fav-form' action='/addFav' method='POST'>
      <img class="close-fav-form" src="../static/images/close.svg" alt="Close Icon">
      <h2>Add To Favorites</h2>
      {% csrf_token %}

      <h4>Address</h4>
      <h5>Chicago, IL</h5>
      <input type='hidden' name='address' >

      <input type='hidden' name='lng' >
      <input type='hidden' name='lat' >

      <h4>Title</h4>
      <input type='text' name='title'/>

      <h4>Date From</h4>
      <input type="date" name="date-from">

      <h4>Date To</h4>
      <input type="date" name="date-to">

      <h4>Description</h4>
      <textarea type='text' name='title'></textarea>

      <button type='submit' class='fav-btn'>Add</button>      

    </form>
  
  -->
  </main> 

  <script src="{% static 'js/fav.js' %}"></script>


</body>
</html>